{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div>
    <div class="row welcome-message-row">
        <div class="col-12">
            <h1>Stock Screener</h1>
        </div>
    </div>
    <div>
        <form action="/stocks/" method="post">
            <div>
                <div class="row form-row">
                    <div class="col-8">
                        <label style="color: white;font-size: 30px; ">Symbol:</label>
                        <br>
                        {% csrf_token %}
                        {{ form.ticker }}

                        <br/>
                        <br/>
                        <br/>

                        <label style="color: white;font-size: 20px; ">Start Date:</label>
                        {{ form.start_date }}

                        <label style="color: white;font-size: 20px; margin-left: 50px;">End Date:</label>
                        {{ form.end_date }}
                        

                    </div>
                    <div class="col-4" style="width: 100%; height: 100%;">
                        <input class="submit_symbol_button" type="submit" value="Search" />
                    </div>

                </div>

            </div>

        </form>
    </div>
</div>
{% endblock %}