{% extends "base.html" %}
{% load static %}
{% block title %}{{ticker}}{% endblock %}
{% block content %}
<div class="stock-info">
    <div class="row stock-search=row">
        <div class="col-12 stock-symbol-col">
                <label style="color: white;font-size: 20px; margin-left: 60px;">Symbol:</label>
                {% csrf_token %}

                <input type="text" name="ticker" class="symbol_field_ticker" maxlength="5" required="" id="id_ticker" autocomplete="off">


                <label style="color: white;font-size: 20px; margin-left: 30px;">Start Date:</label>
                <input type="text" name="start_date" class="start_date_field_ticker" maxlength="10" required=""
                    id="id_start_date" autocomplete="off">

                <label style="color: white;font-size: 20px; margin-left: 30px;">End Date:</label>
                <input type="text" name="end_date" class="end_date_field_ticker" maxlength="10" required="" id="id_end_date" autocomplete="off">


                <input class="submit_symbol_button_from_ticker" type="submit" value="Search" />

        </div>
    </div>
    <div class="row stock-chart-row">
        <div class="col-9">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <img class="stock-chart" id="candle_stick_chart" src="{% static 'Charts/' %}{{ticker}}_candleChart.png"
                alt="">
            <img class="stock-chart" id="line_chart" src="{% static 'Charts/' %}{{ticker}}_lineChart.png" alt="">
            <img class="stock-chart" id="past_predictions_chart"
                src="{% static 'Charts/' %}{{ticker}}_past_predictions.png" alt="">
            <img class="stock-chart" id="future_predictions_chart"
                src="{% static 'Charts/' %}{{ticker}}_future_predictions.png" alt="">
            <div class="btn-group">
                <button id="candle_chart_btn">Candle Stick</button>
                <button id="line_chart_btn">Line</button>
                <button id="past_predictions_chart_btn">Past Predictions</button>
                <button id="future_predictions_chart_btn">Future Predictions</button>
            </div>

        </div>
        <div class="col-3 price-info-col">
            <h1 style="font-size: 40px; color: white; padding: 20px;">{{price.longName}}</h1>
            <span style="font-size: 20px; color:white; padding: 20px;">Sector: <span
                    style="color: gray">{{profile.sector}}</span></span>
            <br />
            <br />
            <p style="display: inline;
            font-size: 30px;
            color: white;
            padding: 20px;">{{price.regularMarketPrice.fmt}} USD</p>
            <br />
            <span style="font-size: 20px; color: white;  padding: 20px;">Volume: <span
                    style="color: green">{{price.regularMarketVolume.fmt}}</span></span>
            <br />
            <br />
            <span style="font-size: 20px; color: white; padding: 20px;">Open:</span>
            <p>{{price.regularMarketOpen.fmt}}</p>
            <span style="font-size: 20px; color: green; padding: 20px;">High:</span>
            <p>{{price.regularMarketDayHigh.fmt}}</p>
            <br>
            <span style="font-size: 20px; color: white; padding: 20px;">Close: </span>
            <p>{{price.regularMarketPreviousClose.fmt}}</p>
            <span style="font-size: 20px; color: red; padding: 20px;">Low: </span>
            <p>{{price.regularMarketDayLow.fmt}}</p>
        </div>

    </div>
    <div class="row info-row">
        <div class="col-8 general-info-col">
            <h1>{{ price.longName }} ({{ ticker }})</h1>
            <span style="color: green; font-size: 20px; padding: 50px;">Description:</span>
            <p>{{profile.longBusinessSummary}}</p>
        </div>



    </div>

</div>

{% endblock %}